a {
  text-decoration: none;
}
/*a:hover .card {*/
  /*box-shadow*/
/*}
.card {
  overflow: hidden;
}
a:hover img {
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
img {
  transition: 0.5s ease-in-out;
}*/